* {
	margin: 0;
	padding: 0;
}


nav {
	margin: 0;
}

footer {
  height: 30px;
  background-color: rgba(128, 128, 128, 0.62);
}  

.socialflixLogo {
  font-size: 25px !important; 
  font-weight: bold !important; 
  padding-top: 15px;
}

.navbar-right > li > a {
  font-size: 15px;
  font-weight: bold;
  margin: auto 0;
  padding-top: 17px;
}


.wallImage {
	height: 600px;
  width: 100%;
	/*height: 100%;*/
	z-index: 1;
  background-color: rgba(128, 128, 128, 0.35);
}

#homeJumbo {
  /*border-top: 12px solid white;*/
	color: #fff;
	text-align: center;
	margin: 0;
	position: static;
	background-color:rgba(0, 0, 0, 0.5);
  background-image: url(../../assets/drive-in.jpg);
  background-repeat: no-repeat;
  background-position:center;
  height: 550px;
}

#jumboh1 {
	color: #029acf;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 150px;
  text-shadow: 1px 1px 1px black;
}

#jumboh1 ~ p {
  color: #FFFFFF;
  text-shadow: 1px 1px 2px black;
}

.jumbotron > p {

}

.watch-video-btn {
  color: #fff;
  background-color: #09a3ed;
  border: 1px solid #32b7f7;
  border-radius: 4px;
}  

#wall_1 {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
}

#wall1h1 {
	text-align: center;
	color: white;
	background-color: #d9230f;
	margin: 0;
}

#wall_2 {
	background: url(../../assets/Movies.jpg) repeat;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
}

#demo {
	width: 700px;
	height: 420px;
}

.info {
    padding: 8%;
    background-color: #ffffff;
    margin: 5%;
    border-radius: 5px;
    box-shadow: 5px 5px 5px gray;
    border: 2px solid gray;
    text-align: center;
}

#offer{
  font-size: 15px;
}

.navBarStyles{
  background-color: #32b7f7; 
  border-radius: 0;
  height: 60px;
  font-size: 30px;
  margin-bottom: 0;
  border-color: #32b7f7;
  border-bottom: 5px solid #32b7f7;
}
